* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
  cursor: default;
}

button {
  &:disabled {
    opacity: 0.8;
  }
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none;
  }
}
