.normal-btn {
  background-color: #7367f0;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 7px 0px;
  transition: box-shadow 0.2s ease-in;
  width: 100%;
  &:hover {
    box-shadow: 0 8px 25px -8px #7367f0;
  }
}

.button-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .button-loader-title {
    color: #646464;
    font-size: 24px;
    font-weight: bold;
  }
  .button-loader-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
  }
}
