@mixin gird-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 5px solid white;
  font-size: 20px;
  border-radius: 15px;
}

.layout-title {
  color: #2a2424;
  font-size: 28px;
}

.grid-layout-one {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 15px 20px;
  height: auto;
  background-color: #f3c7ea;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  .one {
    background: #ff666b;
    @include gird-item;
  }
  .two {
    background-color: #00d793;
    @include gird-item;
  }
  .three {
    background-color: #ac8bfe;
    @include gird-item;
  }
  .four {
    background-color: #ffbc01;
    @include gird-item;
  }
  .five {
    background-color: #ac8bfe;
    @include gird-item;
  }
  .six {
    background-color: #00d793;
    @include gird-item;
  }
  .seven {
    background-color: #ff666b;
    @include gird-item;
  }
}

.grid-layout-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 15px 20px;
  height: auto;
  background-color: #f3c7ea;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  .one {
    background: #ff666b;
    @include gird-item;
  }
  .two {
    background-color: #00d793;
    @include gird-item;
  }
  .three {
    background-color: #ac8bfe;
    @include gird-item;
  }
  .four {
    background-color: #ffbc01;
    @include gird-item;
  }
  .five {
    background-color: #ac8bfe;
    @include gird-item;
  }
  .six {
    background-color: #00d793;
    @include gird-item;
  }
  .seven {
    background-color: #ff666b;
    @include gird-item;
  }
  .eight {
    background-color: #00d793;
    @include gird-item;
  }
  .nine {
    background-color: #ac8bfe;
    @include gird-item;
  }
  .ten {
    background-color: #ffbc01;
    @include gird-item;
  }
  .eleven {
    background-color: #ac8bfe;
    @include gird-item;
  }
  .twelve {
    background-color: #00d793;
    @include gird-item;
  }
}

@media only screen and (min-width: 750px) {
  .grid-layout-one {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
    .one {
      grid-column: span 3;
    }
    .two {
      grid-column: span 2;
      grid-row: span 2;
    }
    .four {
      grid-column: span 2;
      grid-row: span 2;
    }
    .five {
      font-size: 20px;
      grid-column: 4/6;
    }
    .six {
      font-size: 20px;
      grid-row: 3/5;
    }
    .seven {
      grid-column: 2/6;
      grid-row: 4/5;
    }
  }
  .grid-layout-two {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 100px);
    .one {
      grid-column: 1/5;
    }
    .two {
      grid-column: 5/7;
    }
    .three {
      grid-column: 7/9;
      grid-row: 1/4;
    }
    .four {
      grid-column: 1/3;
      grid-row: 2/3;
    }
    .five {
      grid-column: 3 / 6;
      grid-row: 2/4;
    }
    .six {
      grid-column: 6/7;
      grid-row: 2/4;
    }
    .seven {
      grid-column: 1/3;
      grid-row: 3/6;
    }
    .eight {
      grid-column: 3/7;
      grid-row: 4/6;
    }
    .nine {
      grid-column: 7/9;
      grid-row: 4/5;
    }
    .ten {
      grid-column: 1/3;
      grid-row: 6/7;
    }
    .eleven {
      grid-column: 3/7;
      grid-row: 6/7;
    }
    .twelve {
      grid-column: 7/9;
      grid-row: 5/7;
    }
  }
}
