.container {
  height: 470vw;
  contain: paint;
  .wrapper {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    height: 100vh;
    padding: 20px 0px;
    img {
      min-width: 100vw;
      max-height: 100%;
      height: auto;
    }
  }
}
