.rc-tooltip {
  animation: rc_fadeOut 0.2s linear forwards;
  z-index: 1050;
  &:is(.show) {
    animation: rc_fadeIn 0.2s linear forwards;
  }
  .rc-tooltip-content {
    position: relative;
    background-color: #000;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px;
    max-width: 200px;
    color: white;
    text-align: center;
  }
}

.rc-tooltip-arrow {
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.rc-tooltip-arrow[data-position^="left"] {
  transform: rotate(-90deg);
  margin-left: -11px;
}

.rc-tooltip-arrow[data-position^="right"] {
  transform: rotate(90deg);
  margin-left: -4px;
}

.rc-tooltip-arrow[data-position^="top"] {
  transform: rotate(0deg);
  margin-top: -12px;
}

.rc-tooltip-arrow[data-position^="bottom"] {
  transform: rotate(180deg);
  margin-top: -4px;
}
