.rc-tooltip {
  animation: rc_fadeOut 0.2s linear forwards;
  z-index: 1050;
  &:is(.show) {
    animation: rc_fadeIn 0.2s linear forwards;
  }
  .rc-tooltip-content {
    position: relative;
    background-color: #000;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px;
    max-width: 200px;
    color: white;
    text-align: center;
    .rc-tooltip-arrow {
      position: absolute;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      background: #000;
      z-index: -1;
    }
  }
}

.rc-tooltip-arrow[data-position="left-center"] {
  right: -5px;
  top: calc(50% - 5px);
}

.rc-tooltip-arrow[data-position="left-start"] {
  top: 10px;
  right: -5px;
}

.rc-tooltip-arrow[data-position="left-end"] {
  right: -5px;
  bottom: 10px;
}

.rc-tooltip-arrow[data-position="right-center"] {
  left: -5px;
  top: calc(50% - 5px);
}

.rc-tooltip-arrow[data-position="right-start"] {
  top: 10px;
  left: -5px;
}

.rc-tooltip-arrow[data-position="right-end"] {
  bottom: 10px;
  left: -5px;
}

.rc-tooltip-arrow[data-position="top-center"] {
  left: 50%;
  bottom: -5px;
}

.rc-tooltip-arrow[data-position="top-end"] {
  right: 10px;
  bottom: -5px;
}

.rc-tooltip-arrow[data-position="top-start"] {
  left: 15px;
  bottom: -5px;
}

.rc-tooltip-arrow[data-position="bottom-center"] {
  top: -5px;
  left: 50%;
}

.rc-tooltip-arrow[data-position="bottom-start"] {
  top: -5px;
  left: 10px;
}

.rc-tooltip-arrow[data-position="bottom-end"] {
  top: -5px;
  right: 10px;
}
